<nav class="nav-bar">
    <div class="nav-bar-top">
        <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="logo">
            <img src="https://i.ya-webdesign.com/images/amazon-logo-png-transparent-background-7.png" alt="Logo">
        </a>
        <div class="delivery">
            <div class="loc-icon">
                <mat-icon>place</mat-icon>
            </div>
            <div class="loc-text">
                <div class="delivery-top">
                    Deliver to Ramakrishna
                </div>
                <div class="delivery-bottom">
                    Thanjavur 613401
                </div>
            </div>
        </div>
        <div class="search-bar">
            <input type="text">
            <div class="search-icon">
                <mat-icon>search</mat-icon>
            </div>
            
        </div>
        
        
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="signin">
            <div class="signin-top">
                Hello, Ramakrishna
            </div>
            <div class="signin-bottom">
                Accounts & Lists
                <mat-icon>arrow_drop_down</mat-icon>
            </div>
        </a>

        <div class="RO">
            <div class="RO-top">
                Returns
            </div>
            <div class="RO-bottom">
                & Orders
            </div>
        </div>
        <a [routerLink]="['/checkout']" routerLinkActive="router-link-active"  class="cart">
            <div class="cart-icon">
                <mat-icon>shopping_cart</mat-icon>
            </div>
            <div class="cart-text-num">
                <div class="cart-num">
                    0
                </div>
                <div class="cart-text">Cart</div>
            </div>
        </a>

    </div>


    <div class="nav-bar-bottom">
        <div class="all">
            <mat-icon>menu</mat-icon>
            <span class="all-text">All</span>
        </div>
        <a href="#" class="border">
            Amazon Pay
        </a>
        <a class="border" href="#">
            Coupons
        </a>
        <a class="border" href="#">
            Gift Cards
        </a>
        <a class="border" href="#">
            Kindle eBooks
        </a>
        <a class="border" href="#">
            Ramakrishna's Amazon.in
        </a>
        <a class="border" href="#">
            Pet Supplies
        </a>
        <a class="border" href="#">
            Gift Ideas
        </a>
        <a class="border" href="#">
            Baby
        </a>
        <a class="border" href="#">
            Amazon Basics
        </a>

        <div class="buy-now">
            <img src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/AugART21/GW/NEW/SWM/AUG_Art_2021_GW_SWM_Shop_now._CB645143050_.jpg" alt="Buy Now">
        </div>

    </div>
</nav>